<div class="activities-container">
  <div class="bar"></div>
  <div class="main-title">
    ACTIVITIES
  </div>
  <div class="bar"></div>
  <div class="activities-text">
    *All the activities are performed under the presence of professionally trained HappyGoFeet Team*
  </div>
  <div class="activities-card">
    <div class="type-label">
      Muscle Power, Stability & agility
    </div>
    <div class="activities-types-list">
      <div class="activities-types">
        Jumpy Ropes
      </div>
      <div class="activities-types">
        Crazy races
      </div>
      <div class="activities-types">
        Agility ladder
      </div>
      <div class="activities-types">
        Yoga
      </div>
      <div class="activities-types">
        Tug of war
      </div>
      <div class="activities-types">
        Parachute
      </div>
      <div class="activities-types">
        Golf
      </div>
      <div class="activities-types">
        Balancing act
      </div>
      <div class="activities-types">
        Hurdle jumps
      </div>
      <div class="activities-types">
        Partner races
      </div>
      <div class="activities-types">
        Obstacle course
      </div>
    </div>
  </div>
  <div class="activities-card">
    <div class="type-label">
      Popular sports
    </div>
    <div class="activities-types-list">
      <div class="activities-types">
        Basketball
      </div>
      <div class="activities-types">
        Football
      </div>
      <div class="activities-types">
        Volleyball
      </div>
      <div class="activities-types">
        Soccer
      </div>
      <div class="activities-types">
        Golf
      </div>
      <div class="activities-types">
        Baseball
      </div>
      <div class="activities-types">
        Softball
      </div>
      <div class="activities-types">
        Bowling
      </div>
      <div class="activities-types">
        Cricket
      </div>

    </div>
  </div>
  <div class="activities-card">
    <div class="type-label">
      Dynamic/Energitic Sports
    </div>
    <div class="activities-types-list">
      <div class="activities-types">
        Croquet set
      </div>
      <div class="activities-types">
        Hula hoop
      </div>
      <div class="activities-types">
        Bucket toss
      </div>
      <div class="activities-types">
        Blango
      </div>
      <div class="activities-types">
        Baggo
      </div>
      <div class="activities-types">
        Number toss
      </div>
      <div class="activities-types">
        Broom ball
      </div>
      <div class="activities-types">
        Chicken toss
      </div>
      <div class="activities-types">
        Fishing
      </div>
      <div class="activities-types">
        Flying disc
      </div>
      <div class="activities-types">
        Hopscotch
      </div>
      <div class="activities-types">
        Kick ball
      </div>
      <div class="activities-types">
        Paddle games
      </div>
      <div class="activities-types">
        Ping pong
      </div>
      <div class="activities-types">
        Net catch
      </div>
      <div class="activities-types">
        Tunnel of fun
      </div>
      <div class="activities-types">
        Scarf toss
      </div>
      <div class="activities-types">
        60 second challenge
      </div>
      <div class="activities-types">
        Horse shoes
      </div>
      <div class="activities-types">
        Ribbon wands
      </div>
      <div class="activities-types">
        Hoop tag
      </div>
      <div class="activities-types">
        Seven stones
      </div>
    </div>
  </div>
  <div class="activities-card">
    <div class="type-label">
      Kids Zumba
    </div>
    <div class="activities-types-msg">
      Its familiar that fitness is an essential part of children's health and growth
      Zumba involves dance and aerobic movements
      performed with energitic music which means moving quickly
      and having fun. Its the perfect recipe for fitness and fun helping kids gain self-confidence.
    </div>
  </div>
  <div class="activities-card">
    <div class="type-label">
      Advantages of activites
    </div>
    <div class="activities-types-list">
      <div class="activities-types">
        Team of work
      </div>
      <div class="activities-types">
        Muscle strengthening
      </div>
      <div class="activities-types">
        Fine and gross motor skills
      </div>
      <div class="activities-types">
        Tracking and tackling
      </div>
      <div class="activities-types">
        Memory boosting
      </div>
      <div class="activities-types">
        Confidence building
      </div>
      <div class="activities-types">
        Concentration and activeness
      </div>
      <div class="activities-types">
        Hand-foot-co-ordination
      </div>
      <div class="activities-types">
        Agility
      </div>
      <div class="activities-types">
        Flexibility
      </div>
      <div class="activities-types">
        Speed and aimimg
      </div>
      <div class="activities-types">
        General knowledge
      </div>
      <div class="activities-types">
        Language imporvement
      </div>
      <div class="activities-types">
        Eyes-hand-co-ordination
      </div>
      <div class="activities-types">
        Eye-foot-co-ordination
      </div>
    </div>
  </div>
</div>