.activities-container{
    width: 100%;
    height: 100%;
}

.main-title {
    color: #2B2B52;
    font-weight: bold;
    font-size: 22px;
    margin: 0px auto;
    text-align: center;
}

.bar{
    width: 100px;
    height: 1px;
    background: #2B2B52;
    margin: 3px auto;
}

.activities-text{
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    padding: 15px;
}

.activities-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    text-align: center;
    margin: 0px auto 20px auto;
    max-width: 75%;

}

.type-label {
    color: #fff;
    font-size: 13px;
    background: #282852;
    padding: 5px 15px;
    border-radius: 8px 8px 0px 0px;
}

.activities-types {
    display: inline-block;
    padding: 5px 20px;
    font-size: 11px;
    margin: 8px;
    border-radius: 5px;
    color: #282852;
    border: 1px solid #282852;
}

.activities-types-msg{
    font-size: 11px;
    margin: 6px auto;
    white-space: pre-wrap;
    display: inline-block;
    padding: 0px 20px;
}