<div class="contact-container">
	<div class="bar"></div>
	<div class="main-title">
		CONTACT US
	</div>
	<div class="bar"></div>
	<div class="contact-card">
		<div class="icon-img">
			<i class="fas fa-envelope"></i>
		</div>
		<div class="contact-label">
			Email
		</div>
		<div class="contact-value">
			happygofeetblr@gmail.com
		</div>
	</div>
	<div class="contact-card">
		<div class="icon-img">
			<i class="fas fa-user"></i>
		</div>
		<div class="contact-label">
			Komal jain
		</div>
		<div class="contact-value">
			+91 8867059150
		</div>
	</div>
	<div class="contact-card">
		<div class="icon-img">
			<i class="fas fa-user"></i>
		</div>
		<div class="contact-label">
			Monia jain
		</div>
		<div class="contact-value">
			+91 9035698283
		</div>
	</div>
	<div class="contact-card">
		<div class="icon-img">
			<i class="fas fa-user"></i>
		</div>
		<div class="contact-label">
			Nikhil jain
		</div>
		<div class="contact-value">
			+91 9535520822
		</div>
	</div>

</div>